.day {
  margin: 0 auto;
  height: 100%;
  position: relative;
  text-align: center;
  padding: 40px 8px;
  display: flex;
  color: #828282;
  left: -10px;
}

.dayOfWeek {
  font-size: 12px;
  position: absolute;
  top: 20px;
}

.date {
  font-size: 20px;
  position: absolute;
  top: 38px;
  font-weight: 900;
}
